<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SREHands-On Inloco</title>
  </head>
  <body>
    <h1>Welcome to SRE Hands On App</h1>
    <h3>Please fill the forms below as instructed</h3>
    <form>
    <input type="url" name="userUrl" placeholder="Put here the url that you want to see SLIs">
    <input type="number" name="userSLOSuccess" placeholder="Put here your SLO for successful access" />
    <input type="number" name="userSLOSpeed" value="Put here SLO for response time">
    <input type="submit" name="SLOSubmit" value="Submit">
    </form>
  </body>
</html>
