<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SREHands-On Inloco</title>
  </head>
  <body>
    <h1>Welcome to SRE Hands On App</h1>
    <h3>Please fill the forms below as instructed, results will appear in results.txt in app folder and in Flask console. You can interrup the process by pressing Ctrl + C.</h3>
    <form action="/" method="post">
    URL that you want to test: <input type="url" name="userUrl" size="36" id="testURL" placeholder="Put here the url that you want to see SLIs" required><br/>
    <br/>SLO for successful access in %<input type="number" size ="12"min="0" max="100" name="userSLOSuccess" required/><br/>
    <br/>Response time SLO in % <input type="number" min="0" max="100" name="userSLOSpeed"required><br/>
    <br/><input type="submit" name="SLOSubmit" id="user-submit" value="Submit">
    </form>
  </body>
</html>
